<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="../assets/img/logo/1med.png" alt="user-img" title="1med Health"
                    class="rounded-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
            </div>
            <h5><a href="#">1Med Health</a> </h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="#" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu"> 
            <ul>
                <li class="text-muted menu-title">Navigation</li>

                <li>
                    <a href="patient" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span>
                            Dashboard </span> </a>
                </li>

                <li>
                    <a href="/providers-list" class="waves-effect"><i class="mdi mdi-car"></i>
                        <span>Healthcare Providers </span> <span class="menu-arrow"></span></a>
                </li>

                <li>
                    <a href="/profile" class="waves-effect"><i class="mdi mdi-steering"></i>
                        <span>Health Profile</span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-check"></i><span>
                            Health Trackers </span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-warning"></i><span>
                            Health Journal </span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-alarm"></i><span>
                            Appointments </span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-gas-station"></i><span>
                            Apointments </span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="mdi mdi-nature-people"></i><span>Video and Consultation </span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="mdi mdi-screwdriver"></i><span>Text Consultation </span> </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="mdi mdi-screwdriver"></i><span>Video Consultation </span> </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>