<footer class="main-footer pt-100 pb-70 bg-white" >
			
    <section class="pb-55 bg-white">

        <div class="container">
            <div class="row">

                <div class="lqd-column col-md-2 col-sm-6">

                    <h3 class="h5 widget_title">For Providers</h3>
                    <ul class="lqd-custom-menu reset-ul">
                        <li><a class="font-size-15 lh-25" href="#">Create Account</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Login</a></li>
                        <li><a class="font-size-15 lh-25" href="#">View Dashboard</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Blog</a></li>
                        
                    </ul>

                </div><!-- /.lqd-column col-md-2 col-sm-6 -->

                <div class="lqd-column col-md-2 col-sm-6">

                    <h3 class="h5 widget_title">For clients</h3>
                    <ul class="lqd-custom-menu reset-ul">
                        <li><a class="font-size-15 lh-25" href="#">Create an Account</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Login</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Book Video Consultation</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Book Text Consulattion</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Healthcare Providers</a></li>
                    </ul>

                </div><!-- /.lqd-column col-md-2 col-sm-6 -->

                <div class="lqd-column col-md-2 col-sm-6">

                    <h3 class="h5 widget_title">Get in touch</h3>
                    <ul class="lqd-custom-menu reset-ul">
                        <li><a class="font-size-15 lh-25" href="#">Contacts</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Support</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Doctors Review</a></li>
                        <li><a class="font-size-15 lh-25" href="#">Careers</a></li>
                    </ul>

                </div><!-- /.lqd-column col-md-2 col-sm-6 -->

                <div class="lqd-column col-md-4 col-md-offset-1">

                    <div class="row">

                        <div class="lqd-column col-sm-6 mb-3 mb-md-0">
                            <a href="#">
                                <img src="./assets/demo/misc/app-store.jpg" alt="App Store">
                            </a>
                        </div><!-- /.lqd-column col-sm-6 -->

                        <div class="lqd-column col-sm-6">
                            <a href="#">
                                <img src="./assets/demo/misc/google-play.jpg" alt="Google Play">
                            </a>
                        </div><!-- /.lqd-column col-sm-6 -->

                    </div><!-- /.row -->

                    <h3 class="h5 widget_title mb-1">Get in touch</h3>
                    <p> Get our latest news right in your mailbox</p>

                    <div class="ld-sf ld-sf--input-bordered ld-sf--button-solid ld-sf--size-sm ld-sf--circle ld-sf--border-thin ld-sf--button-show ld-sf--button-inside">
                        <form id="ld_subscribe_form" class="ld_sf_form" action="https://liquid-themes.us20.list-manage.com/subscribe/post?u=7f582d555cef808a99ea001a7&amp;id=58ab120d89" name="mc-embedded-subscribe-form" method="post">
                            <p class="ld_sf_paragraph pr-2">
                                <input type="email" class="ld_sf_text" id="mce-EMAIL" name="EMAIL" placeholder="Your email" value="">
                            </p>
                            <button type="submit" class="ld_sf_submit font-size-28">
                                <span class="submit-icon">
                                    <i class="icon-ion-ios-arrow-round-forward"></i>
                                </span>
                                <span class="ld-sf-spinner">
                                    <span>Sending</span>
                                </span>
                            </button>
                        </form>
                        <div class="ld_sf_response"></div>
                    </div><!-- /.ld-sf -->

                </div><!-- /.lqd-column col-md-4 col-md-offset-1 -->

            </div><!-- /.row -->
        </div><!-- /.container -->

    </section>

    <section class="pt-md-5">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">

                <div class="lqd-column col-md-6 mb-4 mb-md-0">

                    <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li>
                    </ul>

                </div><!-- /.lqd-column col-md-6 -->

                <div class="lqd-column col-md-6 text-md-right">

                    <p>© 2022 1MedHealth · <a href="#">Privacy Policy</a> · <a href="#">Terms of Use</a></p>

                </div><!-- /.lqd-column col-md-6 text-md-right -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    
</footer><!-- /.main-footer -->