<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/qxb8htk.css">
	<title>1Med Health | Provider Dashboard</title>
	<link rel="stylesheet" href="../assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="../assets/css/theme.min.css" />
	<link rel="stylesheet" href="../assets/css/themes/original.css" />
    
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
    <div id="wrap">
		
		
		
		<main id="content" class="content">
			
			
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1 sidebar-container">

                    <aside class="main-sidebar">

                       

                        <div class="widget widget_categories">
                            
                            <img class="logo-default" src="../assets/img/logo/1med.png">
                        </div>
                            <ul>
                                <li><a href="#"> <i class="fa-solid fa-users-medical"></i>Patients</a> </li>
                                <li><a href="#"> <i class="fa-regular fa-calendars"></i>Appointments</a> </li>
                                <li><a href="#"> <i class="fa-duotone fa-video-plus"></i>Video Consultation</a> </li>
                                <li><a href="#"> <i class="fa-regular fa-monitor-waveform"></i>Monitoring</a> </li>
                                <li><a href="#"> <i class="fa-solid fa-message-medical"></i>Text Consultations</a> </li>
                                <li><a href="#"> <i class="fa-duotone fa-prescription"></i>Prescriptions</a>
                                </li>
                                
                            </ul>
                        </div><!-- /.widget_categories -->

    

                    </aside>

                </div><!-- /.col-md-3 col-md-offset-1 sidebar-container -->
            </div>
        </div>
    </main>
    
<script src="./assets/vendors/jquery.min.js"></script>
<script src="./assets/js/theme-vendors.js"></script>
<script src="./assets/js/theme.min.js"></script>
<script src="./assets/js/liquidAjaxMailchimp.min.js"></script>

</body>
</html>