<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <main id="content" class="content ">
        <div class="container">
            <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar-container">
            <div class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>
                <ul>
                    <li><a href="#">Patients</a> (2) </li>
                    <li><a href="#">Appointments</a> (2) </li>
                    <li><a href="#">Monitoring</a> (4) </li>
                    <li><a href="#">Text Consultations</a> (5) </li>
                    <li><a href="#">Featured</a> (1) </li>
                    <li><a href="#">Food &amp; Drink</a> (1)
                    </li>
                    <li><a href="#">Grid</a> (12) </li>
                    <li><a href="#">Main New</a> (3) </li>
                    <li><a href="#">Masonry</a> (16) </li>
                    <li><a href="#">Masonry Alt</a> (10)
                    </li>
                    <li><a href="#">Motivation</a> (2) </li>
                    <li><a href="#">Split</a> (5) </li>
                    <li><a href="#">Travel</a> (2) </li>
                </ul>
            </div>
        </div>
            </div>
        </div>
    </main>
</body>
</html>