<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#008d0a">
	
	<link rel="shortcut icon" href="./1med.png" />
	
	<title>1Med Health ...good health, well beign!</title>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	
	<link rel="stylesheet" href="assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="assets/css/theme.min.css" />
	<link rel="stylesheet" href="assets/css/themes/digital-creative.css" />
	
	<!-- Head Libs -->
	<script async src="assets/vendors/modernizr.min.js"></script>
	
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
	
	<div id="wrap">
		
		<%- include ('partials/header.ejs') %>
		
		<main id="content" class="content">
			
			<section class="vc_row fullheight d-flex flex-wrap align-items-stretch">

				<div class="lqd-particles-bg-wrap" style="height: 400px;">

					<div class="ld-particles-container">
						<div
							class="ld-particles-inner"
							id="ld-1527244273759-519b63e0-a9d6"
							data-particles="true"
							data-particles-options='{"particles":{"shape":{"type":["triangle"]},"move":{"enable":true,"direction":"right","out_mode":"out","attract":{"enable":true}}},"interactivity":[]}'>
						</div>
					</div>
	
				</div><!-- /.lqd-particles-bg-wrap -->

				<div class="container d-flex align-items-stretch">
					<div class="row d-flex flex-wrap align-items-stretch w-100">
						
						<div class="lqd-column col-md-10 col-md-offset-1 py-8s bg-white d-flex flex-wrap align-items-center justify-content-center white-box-shadow">

							<div
								class="lqd-column-inner w-100 text-center"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
							>

								<h2
								class="mt-md-6 mt-0 mb-4 mb-2 lh-1"
								data-fittext="true"
								data-fittext-options='{ "compressor":0.5,"maxFontSize": 150,"minFontSize": 62 }'
								data-split-text="true"
								data-split-options='{"type":"words"}'
								>1Med Health</h2>

								<div class="row">
									<div
										class="lqd-column col-md-8 col-md-offset-2 px-3"
										data-custom-animations="true"
										data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150", "startDelay": 120,"easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

										<p class="font-size-20 px-md-4 mb-md-7" data-split-text="true" data-split-options='{"type":"lines"}'>A VIRTUAL PLATFORM FOR COMPREHENSIVE ACCESS TO HEALTHCARE SERVICES FOR ALL!</p>
										
										<a href="/auth/signup" class="btn btn-default text-uppercase btn-lg circle btn-bordered border-thin btn-gradient font-size-13 font-weight-bold ltr-sp-1 px-2 mb-2" >
											<span>
												<span class="btn-txt">Create an account</span>
												<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
													<defs>
														<linearGradient id="svg-border-2" x1="0%" y1="0%" x2="100%" y2="0%">
															<stop offset="0%"></stop>
															<stop offset="100%"></stop>
														</linearGradient>
													</defs>
													<rect x="0.5" y="0.5" rx="30.5" ry="30.5" width="100%" height="100%" stroke="url(#svg-border-2)"></rect>
												</svg>
											</span>
										</a>
			
										<a href="/auth/login" class="btn btn-solid text-uppercase btn-lg circle btn-solid border-thin btn-gradient btn-icon-left btn-icon-circle btn-icon-bordered color-secondary font-size-13 font-weight-bold ltr-sp-1 mb-2">
											<span>
												<span class="btn-gradient-bg"></span>
												<span class="btn-txt">Login</span>
												
												<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
													<defs>
														<linearGradient id="svg-border-3" x1="0%" y1="0%" x2="100%" y2="0%">
															<stop offset="0%" style="stop-color: #008D0A;"></stop>
															<stop offset="100%" style="stop-color: #34db5e;"></stop>
														</linearGradient>
													</defs>
													<rect x="0.5" y="0.5" rx="30.5" ry="30.5" width="100%" height="100%" stroke="url(#svg-border-3)"></rect>
												</svg>
											</span>
										</a>

										<p class="font-size-13 text-uppercase ltr-sp-1 text-dark mt-90">We are Social</p>
										<ul class="social-icon social-icon-md">
											<li>
												<a href="#" target="_blank">
													<i class="fa fa-facebook"></i>
												</a>
											</li>
											<li>
												<a href="#" target="_blank">
													<i class="fa fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#" target="_blank">
													<i class="fa fa-behance"></i>
												</a>
											</li>
											<li>
												<a href="#" target="_blank">
													<i class="fa fa-dribbble"></i>
												</a>
											</li>
										</ul>

									</div><!-- /.col-md-8 col-md-offset-2 -->
								</div><!-- /.row -->

							</div><!-- /.lqd-column-inner -->
							
						</div><!-- /.col-md-6 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			
			</section>
<!--About Section-->
			<section class="vc_row pt-50 pb-100">
				<div class="container">
					<div class="row d-flex flex-wrap align-items-center">

						<div class="lqd-column col-md-5 mb-5 mb-md-0" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":50,"translateZ":-156,"rotateX":-63,"opacity":0},"animations":{"translateY":0,"translateZ":0,"rotateX":0,"opacity":1}}'>

							<div class="carousel-container carousel-nav-left carousel-nav-xl carousel-nav-bordered carousel-nav-circle carousel-dots-style1 carousel-nav-border-gray">

								<div class="carousel-items row mx-0" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":true,"buttonsAppendTo":"self","pageDots":false,"groupCells":true,"wrapAround":true,"pauseAutoPlayOnHover":false,"navArrow":"6"}'>

									

									<div class="carousel-item col-xs-12 px-0">
			
										<div class="ld-fancy-heading">
											<h2
												class="mb-55 lh-125"
												data-fittext="true"
												data-fittext-options='{"compressor":0.85,"maxFontSize":"50","minFontSize":"32"}'
											>
												<span class="ld-fh-txt">About 1Med Health.</span>
											</h2>
										</div><!-- /.ld-fancy-heading -->

										<div class="ld-fancy-heading mb-1 mb-md-6">
											<p 
												class="font-size-20 lh-16"
											>
												<span class="ld-fh-txt" style="color: #676767;">We are a team of health and Medtech practitioners with the firm acceptance of the fact that hassle-free access to healthcare is a fundamental human right. We feel duty-bound to provide better management of medical conditions using technology, guided by our core values of integrity, efficiency, empathy and equity. 1Med Health offers a PLATFORM where providers of health services - doctors, pharmacists, diagnostic centers, etc., connect with users of health services (patients) and transfer unlimited value to one another. Above all, this service is provided, most conveniently from wherever each party is located, using a mobile device or telephone.</span>
											</p>
										</div><!-- /.ld-fancy-heading -->

									</div><!-- /.carousel-item -->

								</div><!-- /.carousel-items -->

							</div><!-- /.carousel-container -->

						</div><!-- /.col-md-5 -->

						<div class="lqd-column col-md-7">

							<div class="liquid-img-group-container stretch-to-right pl-md-7 ml-md-5">
								<div class="liquid-img-group-inner">
									<div class="liquid-img-group-single" data-shadow-style="3" data-roundness="8" data-inview="true" data-animate-shadow="true" data-inview-options='{"delayTime":600}'>

										<div class="liquid-img-group-img-container">
											<div class="liquid-img-group-content content-floated-mid">
												<a href="https://www.youtube.com/watch?v=LjaKHqDbzSA" class="btn btn-naked btn-gradient fresco btn-icon-block btn-icon-top btn-icon-circle btn-icon-solid btn-icon-xxlg">
													<span>
														<span class="btn-icon">
															<span class="btn-gradient-bg"></span>
															<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
															<i class="fa fa-play"></i>
														</span>
													</span>
												</a>
											</div><!-- /.liquid-img-group-content content-floated-mid -->

											<div class="liquid-img-container-inner">
												<figure>
													<img src="./assets/demo/banners/banner-1.jpg" alt="Banner">
												</figure>
											</div><!-- /.liquid-img-container-inner -->

										</div><!-- /.liquid-img-group-img-container -->

									</div><!-- /.liquid-img-group-single -->
								</div><!-- /.liquid-img-group-inner -->
							</div><!-- /.liquid-img-group-container -->

						</div><!-- /.col-md-7 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!--End of Avout-->

			<!--Team pictures-->
			<section class="vc_row pt-90 pb-90">
				<div class="container">

					<div class="row">

						<div class="lqd-column col-md-8 col-md-offset-2">

							<header class="fancy-title text-center px-md-7 mb-70">
								<h2 class="title h1 mb-4">PROVIDING ACCESS TO COMPREHENSIVE HEALTH SERVICES; ANYTIME, ANYWHERE!</h2>
								<p class="font-size-20 lh-16">Providing a Comprehensive Patient Management Solution to help practitioners manage their patients, time and revenue.</p>
							</header>

						</div><!-- /.col-md-8 col-md-offset-2 -->

					</div><!-- /.row -->

					<div class="row">

						<div class="lqd-column col-md-4">

							<div class="ld-tm pos-rel text-light">
								<div class="ld-tm-img">
									<figure class="loaded">
										<img src="./assets/demo/team/team-1.jpg" alt="Edna Mason">
									</figure>
								</div>
								<div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
									<h3 class="ld-tm-name">Dr Oghenerure</h3>
									<h6 class="ld-tm-pos text-uppercase">Medical Officer</h6>
									<ul class="ld-tm-social social-icon mt-5">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									</ul>
								</div><!-- /.ld-tm-info -->
							</div><!-- /.ld-tm -->

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-tm pos-rel text-light">
								<div class="ld-tm-img">
									<figure class="loaded">
										<img src="./assets/demo/team/team-2.jpg" alt="Edna Mason">
									</figure>
								</div>
								<div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
									<h3 class="ld-tm-name">Doctor Oyewole</h3>
									<h6 class="ld-tm-pos text-uppercase">Consultant Physician</h6>
									<ul class="ld-tm-social social-icon mt-5">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									</ul>
								</div><!-- /.ld-tm-info -->
							</div><!-- /.ld-tm -->

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-tm pos-rel text-light">
								<div class="ld-tm-img">
									<figure class="loaded">
										<img src="./assets/demo/team/team-3.jpg" alt="Edna Mason">
									</figure>
								</div>
								<div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
									<h3 class="ld-tm-name">Dr Olakunle Oladiti</h3>
									<h6 class="ld-tm-pos text-uppercase">Senior Medical Officer</h6>
									<ul class="ld-tm-social social-icon mt-5">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									</ul>
								</div><!-- /.ld-tm-info -->
							</div><!-- /.ld-tm -->

						</div><!-- /.col-md-4 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>


			<!--Features-->
			<section class="vc_row pt-75 pb-40" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":43,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
				<div class="container">

					<div class="row" >

						<div class="lqd-column col-md-6 col-md-offset-3 mb-80">

							<header class="fancy-title mb-40 text-center">
								<h2 class="mt-0"><span class="text-secondary">Amazing</span> features</h2>
								<p class="font-size-18">1Med Health provides series of Virtual Health Solutions .</p>
							</header>

						</div><!-- /.lqd-column col-md-6 col-md-offset-6 -->

					</div><!-- /.row -->

					<div class="row">

						<div class="lqd-column col-md-4 col-sm-6">

							<div class="iconbox iconbox-wavebg px-3" data-animate-icon="true" data-plugin-options='{"color": "#ffb09f"}'>

								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">

										<span class="icon-wave-bg">
											<svg xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62"><path d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z" transform="translate(-463.938 -2534)"></path> </svg>
										</span>
										<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <rect x="1" y="32" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="31" height="31" /> <rect x="32" y="32" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="31" height="31" /> <rect x="1" y="1" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="31" height="31" /> <rect x="32" y="1" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="31" height="31" /> </svg>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

								<div class="contents">
									<h3>No rocket science</h3>
									<p>Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
								</div><!-- /.contents -->
								
							</div><!-- /.iconbox -->

						</div><!-- /.col-md-4 col-sm-6 -->

						<div class="lqd-column col-md-4 col-sm-6">

							<div class="iconbox iconbox-wavebg px-3" data-animate-icon="true" data-plugin-options='{"color": "#ad78ef", "delay": 150}'>

								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<span class="icon-wave-bg">
											<svg xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62"> <path style="fill: #ad78ef !important" d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z" transform="translate(-463.938 -2534)"></path> </svg>
										</span>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32.001,0.887c17.184,0,31.113,13.929,31.112,31.113 C63.114,49.185,49.184,63.115,32,63.113C14.815,63.114,0.887,49.185,0.888,32.001C0.885,14.816,14.815,0.887,32.001,0.887z" /> <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10,32c0-5.63,2.148-11.26,6.444-15.556 c8.591-8.593,22.521-8.593,31.112,0C51.852,20.74,54,26.37,54,32" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="24" y1="26" x2="30.333" y2="33.333" /> <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="32" cy="35" r="2" /> </svg>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

								<div class="contents">
									<h3>Blazing Performance</h3>
									<p>Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
								</div><!-- /.contents -->
								
							</div><!-- /.iconbox -->

						</div><!-- /.col-md-4 col-sm-6 -->

						<div class="lqd-column col-md-4 col-sm-6">

							<div class="iconbox iconbox-wavebg px-3" data-animate-icon="true" data-plugin-options='{"color": "#3ed2a7", "delay": 300}'>

								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<span class="icon-wave-bg">
											<svg xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62"> <path style="fill: #3ed2a7 !important" d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z" transform="translate(-463.938 -2534)"></path> </svg>
										</span>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <rect x="1" y="7" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="62" height="50" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="15" x2="63" y2="15" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="10" y1="11" x2="6" y2="11" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="18" y1="11" x2="14" y2="11" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="26" y1="11" x2="22" y2="11" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="6" y1="25" x2="33" y2="25" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="6" y1="33" x2="33" y2="33" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="6" y1="41" x2="33" y2="41" /> <rect x="38" y="25" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="19" height="16" /> </svg>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

								<div class="contents">
									<h3>Unlimited Layouts</h3>
									<p>Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
								</div><!-- /.contents -->
								
							</div><!-- /.iconbox -->

						</div><!-- /.col-md-4 col-sm-6 -->

						<div class="lqd-column col-md-4 col-sm-6">

							<div class="iconbox iconbox-wavebg px-3" data-animate-icon="true" data-plugin-options='{"color": "#edba57", "delay": 450}'>

								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<span class="icon-wave-bg">
											<svg xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62"> <path style="fill: #edba57 !important" d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z" transform="translate(-463.938 -2534)"></path> </svg>
										</span>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <rect x="1" y="1" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="46" height="62" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="9" y1="63" x2="9" y2="2" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="14" y1="15" x2="42" y2="15" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="14" y1="21" x2="42" y2="21" /> <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="63,3 63,53 59,61 55,53 55,3 " /> <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="55,7 51,7 51,17 " /> </svg>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

								<div class="contents">
									<h3>Unlimited Layouts</h3>
									<p>Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
								</div><!-- /.contents -->
								
							</div><!-- /.iconbox -->

						</div><!-- /.col-md-4 col-sm-6 -->

						<div class="lqd-column col-md-4 col-sm-6">

							<div class="iconbox iconbox-wavebg px-3" data-animate-icon="true" data-plugin-options='{"color": "#577eed", "delay": 600}'>

								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<span class="icon-wave-bg">
											<svg xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62"> <path style="fill: #577eed !important" d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z" transform="translate(-463.938 -2534)"></path> </svg>
										</span>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <g> <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="29,6 46,6 63,27 32,58 1,27 18,6 32,6 32,58 	" /> <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="32,57 18,27 24,6 	" /> <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="32,57 46,27 40,6 	" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="27" x2="63" y2="27" /> </g> </svg>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

								<div class="contents">
									<h3>Ready to rock?</h3>
									<p>Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
								</div><!-- /.contents -->
								
							</div><!-- /.iconbox -->

						</div><!-- /.col-md-4 col-sm-6 -->

						<div class="lqd-column col-md-4 col-sm-6">

							<div class="iconbox iconbox-wavebg px-3" data-animate-icon="true" data-plugin-options='{"color": "#577eed", "delay": 750}'>

								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<span class="icon-wave-bg">
											<svg xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62"> <path style="fill: #28b5f0 !important" d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z" transform="translate(-463.938 -2534)"></path> </svg>
										</span>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="32" cy="32" r="31" /> <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="32" cy="32" r="15" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="26" y1="18" x2="26" y2="1" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="38" y1="18" x2="38" y2="1" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="26" y1="63" x2="26" y2="46" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="38" y1="63" x2="38" y2="46" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="46" y1="26" x2="63" y2="26" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="46" y1="38" x2="63" y2="38" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="26" x2="18" y2="26" /> <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="38" x2="18" y2="38" /> </svg>
									</span>
								</div><!-- /.iconbox-icon-wrap -->

								<div class="contents">
									<h3>Free Updates</h3>
									<p>Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
								</div><!-- /.contents -->
								
							</div><!-- /.iconbox -->

						</div><!-- /.col-md-4 col-sm-6 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!--Blog-->

			<section class="vc_row">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-8 col-md-offset-2 text-center">

							<h6 class="font-size-12 text-uppercase ltr-sp-1 opacity-05">Recent Articles</h6>
							<h1
								class="lh-125"
								data-fittext="true"
								data-fittext-options='{"compressor":0.65, "maxFontSize": 50, "minFontSize": 32}'
							>
								Our Blog
							</h1>

						</div><!-- /.lqd-column col-md-8 -->

						<div class="lqd-column col-md-12 pt-85" style="border-top: 3px solid #000">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid row" data-liquid-masonry="true">

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark mb-60">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-8.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Business meeting 2017 in San Francisco</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Business meeting 2017 in San Francisco</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>
										
									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark mb-60">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-9.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">5 reasons to purchase desktop computers</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>5 reasons to purchase desktop computers</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>
										
									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark mb-60">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-10.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Top 10 night creams will help your skin to relax</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Business meeting 2017 in San Francisco</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>
										
									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark mb-60">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/blog/blog-14.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Combing hair 10 tips for proper hair combing</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Investment trend monitor: Top trends in 2017</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>
										
									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark mb-60">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/blog/blog-15.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Mind power the ultimate success formula</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Mind power the ultimate success formula</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>
										
									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark mb-60">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/blog/blog-16.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Live poker how to win tournament games</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Live poker how to win tournament games</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>
										
									</div><!-- /.col-md-4 -->

								</div><!-- /.liquid-blog-grid row -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /.vc_row -->

			<!--End of Blog-->
			
			<!--Reviews-->
			<section class="vc_row pt-40 pb-90" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":55,"rotateX":-1,"opacity":0},"animations":{"translateY":0,"rotateX":0,"opacity":1}}'>
				<div class="container">

					<div class="row">

						<div class="lqd-column col-md-6 col-md-offset-3">

							<header class="fancy-title mb-70 text-center">
								<h2 class="mt-0"><span class="text-secondary">Clients'</span> feedbacks</h2>
								<p class="font-size-18">Don’t just take our words for it. Our clients are our biggest supporters. Would you like to know what they think about us?</p>
							</header>

						</div><!-- /.col-md-6 -->
						
					</div><!-- /.row -->

					<div class="row">

						<div class="lqd-column col-md-6 pr-md-4">

							<div class="testimonial testimonial-whole-filled testimonial-whole-shadowed testimonial-details-top testimonial-avatar-shadowed text-left testimonial-avatar-topleft">
								<div class="testimonial-quote">
									<blockquote>
										<p>
											<span style="font-size: 18px; line-height: 30px; color: #808291;"><em>“Praesent porttitor nunc vitae lacus
													vehicula, nec mollis eros congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
													cubilia.”</em>
											</span>
										</p>
									</blockquote>
								</div><!-- /.testimonial-quote -->
								<div class="testimonial-details">
									<figure class="avatar ">
										<img src="./assets/demo/team/team-14.jpg" alt="Mable Cobb">
									</figure>
									<div class="testimonial-info">
										<h5>Mable Cobb</h5>
									</div><!-- /.testimonial-info -->
									<ul class="star-rating">
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
									</ul>
								</div><!-- /.testimonial-details -->
							</div><!-- /.testimonial -->

						</div><!-- /.col-md-6 -->

						<div class="lqd-column col-md-6 pl-md-4">

							<div class="testimonial testimonial-whole-filled testimonial-whole-shadowed testimonial-details-top testimonial-avatar-shadowed text-left testimonial-avatar-topleft">
								<div class="testimonial-quote">
									<blockquote>
										<p>
											<span style="font-size: 18px; line-height: 30px; color: #808291;"><em>“Praesent porttitor nunc vitae lacus
													vehicula, nec mollis eros congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
													cubilia.”</em>
											</span>
										</p>
									</blockquote>
								</div><!-- /.testimonial-quote -->
								<div class="testimonial-details">
									<figure class="avatar ">
										<img src="./assets/demo/team/team-15.png" alt="Mable Cobb">
									</figure>
									<div class="testimonial-info">
										<h5>Patrick Norris</h5>
									</div><!-- /.testimonial-info -->
									<ul class="star-rating">
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
									</ul>
								</div><!-- /.testimonial-details -->
							</div><!-- /.testimonial -->

						</div><!-- /.col-md-6 -->

					</div><!-- /.row -->

					<div class="row mt-70">

						<div class="lqd-column col-md-12">

							<div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">

								<div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>
	
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-1.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-2.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-3.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-4.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-5.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-6.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-4.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-5.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-6.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
	
								</div><!-- /.carousel-items row -->
	
							</div><!-- /.carousel-container -->

						</div><!-- /.col-md-12 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<!--End of Reviews-->
			

			<section class="vc_row overflow-hidden">

				<div class="lqd-particles-bg-wrap" style="height: 400px;">

					<div class="ld-particles-container">
						<div
							class="ld-particles-inner"
							id="ld-1527244273759"
							data-particles="true"
							data-particles-options='{"particles":{"shape":{"type":["triangle"]},"move":{"enable":true,"direction":"right","out_mode":"out"}},"interactivity":[]}'>
						</div>
					</div>
	
				</div><!-- /.lqd-particles-bg-wrap -->

				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-8 col-md-offset-2 text-center bg-white white-box-shadow pt-70 pb-50">

							<div class="row">
								<div class="col-md-10 col-md-offset-1">

									<header class="fancy-title mb-40 px-3">
										<h2 class="mt-4">Subscribe <span class="text-secondary">Newsletter</span></h2>
										<p class="font-size-18">Get weekly updates and tips right in your mailbox. Subscribe now!</p>
									</header>
		
									<div class="ld-sf ld-sf--input-solid ld-sf--button-solid ld-sf--size-lg ld-sf--circle ld-sf--border-thin ld-sf--input-shadow ld-sf--button-show">
										<form id="ld_subscribe_form" class="ld_sf_form" action="https://liquid-themes.us20.list-manage.com/subscribe/post?u=7f582d555cef808a99ea001a7&amp;id=58ab120d89" name="mc-embedded-subscribe-form" method="post">
											<p class="ld_sf_paragraph pr-2">
												<input type="email" class="ld_sf_text" id="mce-EMAIL" name="EMAIL" placeholder="Enter your email address" value="">
											</p>
											<button type="submit" class="ld_sf_submit font-weight-semibold bg-gradient-secondary-lr">
												<span class="submit-icon font-size-26">
													<i class="icon-md-paper-plane"></i>
												</span>
												<span class="submit-text">Subscribe me</span>
												<span class="ld-sf-spinner">
													<span>Sending </span>
												</span>
											</button>
										</form>
										<div class="ld_sf_response"></div>
									</div><!-- /.ld-sf -->

								</div><!-- /.col-md-10 col-md-offset-1 -->
							</div><!-- /.row -->

						</div><!-- /.col-md-6 col-md-offset-3 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
				
			</section>
		
		</main>
	
		<%- include ('partials/footer.ejs') %>
	
	</div><!-- /#wrap -->

<script src="./assets/vendors/jquery.min.js"></script>
<script src="./assets/js/theme-vendors.js"></script>
<script src="./assets/js/theme.min.js"></script>
<script src="./assets/js/liquidAjaxMailchimp.min.js"></script>

</body>
</html>