<!DOCTYPE html>
<html>

<head>
    <!-- Head data -->
    
    <title> 1Med Health | Medical Reports</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/dashboard-style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/mystyle.css" rel="stylesheet" type="text/css" />

<script src="../assets/js/modernizr.min.js"></script>
</style>
</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <%- include('../includes/topbar.ejs') -%>
        <!-- Top Bar End -->

        <!-- ========= = Left Sidebar Start ========= = -->
        <%- include('../includes/sidenav.ejs') -%>
        <!-- Left Sidebar End -->



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================ -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    </div>


                    </div>
                    </div>
                

                </body>